@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer styles */
@layer base {
    h1 {
        @apply text-[27px] md:text-3xl lg:text-[42px] leading-[2.4rem] md:leading-[2.5rem] lg:leading-[3.2rem] font-semibold text-black;
    }

    p {
        @apply leading-5 md:leading-5 lg:leading-6 text-[10px] md:text-[12px] lg:text-[13.2px];
    }

    h3 {
        @apply font-bold  text-[20px] lg:text-3xl md:mb-5 lg:mb-10;
    }
}

@layer components {
    .heroFloatingText {
        @apply py-1 px-4 lg:px-5 text-primary-main text-center md:text-[9px] lg:text-[11px] bg-white rounded-md border border-primary-main hidden md:block md:absolute;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

button:active {
    transform: scale(0.96);
}

button {
    transition: transform 0.1s ease;
}

.heroSlide {
    height: 70vh;
    background-image: url("/image/hero/heroOne.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 3s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.propositionSlide {
    width: 100%;
    background-image: url("/image/proposition/imgOne.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 3s;

    animation-name: propositionAnimation;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        background-image: url("/image/hero/heroOne.png");
    }
    100% {
        background-image: url("/image/hero/heroTwo.png");
    }
}

@keyframes propositionAnimation {
    0% {
        background-image: url("/image/proposition/imgOne.png");
    }
    50% {
        background-image: url("/image/proposition/imgTwo.png");
    }
    100% {
        background-image: url("/image/proposition/imgThree.png");
    }
}

/* =========== Ant Design Tweaks =========== */

.ant-modal-content {
    border-radius: 20px !important;
}

.ant-select.ant-select-lg.ant-select-outlined .ant-select-selector {
    border: 1px solid black; /* Set border color */
    padding-top: 10px; /* Adjust top padding */
    padding-bottom: 10px; /* Adjust bottom padding */
}

.ant-select.ant-select-lg.ant-select-outlined:hover .ant-select-selector,
.ant-select.ant-select-lg.ant-select-outlined:focus .ant-select-selector {
    border-color: black; /* Set border color on hover and focus */
}

.ant-drawer-header {
    background-color: black !important;
}

.ant-drawer-header-title {
    background-color: black !important;
}

.ant-drawer-body {
    padding: 0% !important;
    background-color: black !important;
}
.ant-drawer-body .ant-menu {
    background-color: black !important;
    color: white !important;
    margin-top: 20px;
}

.ant-menu-item .ant-menu-title-content {
    color: white !important;
    font-size: 1rem;
    font-weight: 600;
}

.ant-menu-item .anticon {
    color: white !important;
    font-size: 1rem;
    font-weight: 600;
}

.ant-drawer-close .anticon-close {
    color: white !important;
    font-size: 1rem;
    font-weight: 600;
}

.ant-drawer-footer {
    background-color: black !important;
    border: none;
}

.projects__container {
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
}

.projects__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the area of the parent without distortion */
    object-position: center;
}

.projects__modal {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0),
        0%,
        hsla(144, 94%, 50%, 0.3) 120%
    );
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
    transition: bottom 0.4s;
}

.projects__subtitle,
.projects__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.projects__subtitle {
    display: block;
    margin-bottom: 0.25rem;
}

.projects__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.75rem;
}

.projects__button {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-medium);
}

.projects__button i {
    font-size: 1.25rem;
}

.projects__card:hover .projects__modal {
    bottom: 0;
}
